<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>Insert title here</title>
</head>
<body>
<div class="container">
<h2 class="text-center">Student Update Page</h2>
<form th:action="@{/student/update}" method="POST" th:object="${student}">
  <div class="form-group">
    <label for="exampleFormControlInput1">ID</label>
    <input type="text" class="form-control" id="name" placeholder="Enter Name here" name="id" th:field="*{id}" readonly="readonly">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">NAME</label>
    <input type="text" class="form-control" id="name" placeholder="Enter Name here" name="name" th:field="*{name}">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Course</label>
    <select class="form-control" id="course" th:field="*{course}">
      <option value="">--Select--</option>
     <option th:each="list:${courseList}" th:value="${list}" th:text="${list}"></option>
      
    </select>
  </div>
 <div class="form-group">
    <label for="exampleFormControlInput1">Marks</label>
    <input type="text" class="form-control" id="marks" placeholder="Enter Obtain Marks" name="marks" th:field="*{marks}">
  </div>
  <button type="submit" class="btn btn-primary">UPDATE</button>
  <a th:href="@{/student/all}"><button type="button" class="btn btn-info">Cancel</button></a>
</form>


</div>
</body>
</html>